.headerNavBar {
  position: fixed;
  top: 0;
  background-color: #2E373D;
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-between;
  min-width: 70rem;
  z-index: 1000; /* Ensure it's on top of other elements */
   

}

/* Default styling */
.headerNavBar h4, .headerNavBar h3 {
  color: white;
  transition: color 1.2s ease, text-decoration 9.3s ease; /* Transition for smooth effect */
}

/* On hover */
.headerNavBar h4:hover, .headerNavBar h3:hover {
  color: #FEF175; /* Change text color */
  text-decoration: underline; /* Add underline */
  text-underline-offset: .7rem;
}


.headerNavBar button {
  background-color: #9747ff;
  color: white;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  height: auto;
  align-self: center;

}

/* Style applied when user is signed in */
.signedIn {
  background-color: #ffffff;
  color: #6c5ce7;
}
