.headerNavBar {
  position: fixed;
  top: 0;
  background-color: #2E373D;
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-between;
  min-width: 70rem
  

}

.headerNavBar h4, .headerNavBar h3 {
  color: white;
}

.headerNavBar button {
  background-color: #9747ff;
  color: white;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  height: auto;
  align-self: center;

}

/* Style applied when user is signed in */
.signedIn {
  background-color: #ffffff;
  color: #6c5ce7;
}
