.headerNavBar {
  position: fixed;
  top: 0;
  background-color: #2E373D;
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-between;
  min-width: 70rem;
  z-index: 1000; /* Ensure it's on top of other elements */
   

}

/* Default styling */
.headerNavBar h4, .headerNavBar h3 {
  color: white;
  transition: color 1.2s ease, text-decoration 9.3s ease;
  font-family: 'Product Sans';
   /* Transition for smooth effect */
}

/* On hover */
.headerNavBar h4:hover, .headerNavBar h3:hover {
  color: #FEF175; /* Change text color */
  text-decoration: underline; /* Add underline */
  text-underline-offset: .7rem;
}


.signedOut {
  background-color: #a42fb1;
  color: white;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  height: auto;
  align-self: center;
  font-family: 'Product Sans Black';
  
  transition: text-shadow 6.8s ease, box-shadow 0.8s ease; /* Smooth transition for background and shadow */

}

/* Style applied when user is signed in */
.signedIn  {
  background-color: #ffffff;
  color: #6c5ce7;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  height: auto;
  align-self: center;
  font-family: 'Product Sans Black';
  
}

.signedIn button {
  background-color: linear-gradient(99.25deg, rgba(253, 246, 253, 0.4), rgba(250, 245, 251, 0.4)), #d5d0d9
}

.headerNavBar a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit text color from parent element */
}

/* .headerNavBar a:hover {
  text-decoration: none; 
  color:#afa11f
} */

.signedIn :hover {
  text-shadow: 0em .3em .3em rgba(37, 11, 69, 0.3); /* Add text shadow */
  transition: text-shadow 3.8s ease, color 0.8s ease;
  
  /* color: linear-gradient(99.25deg, rgba(253, 246, 253, 0.4), rgba(250, 245, 251, 0.4)), #d5d0d9; */
  color:#2d0b4a;

}

.signedIn :not(:hover) {
  text-shadow: none;
  color:inherit;
  transition: text-shadow 3.8s ease, color 0.8s ease;
}

.signedOut :hover {
  text-shadow: 0em .3em .3em rgba(37, 11, 69, 0.3); /* Add text shadow */
  transition: text-shadow 3.8s ease, box-shadow 0.8s ease;
  color: rgb(236, 236, 165)
}
.signedOut :not(:hover) {
  text-shadow: none;
  color:inherit;
  transition: text-shadow 3.8s ease, color 0.8s ease;
}