
@font-face {
    font-family: 'Product Sans Black';
    src: url('fonts/ProductSans-Black.woff2') format('woff2'),
         url('fonts/ProductSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


.titleOfEvent {
    /* position: absolute; */
    /* top: 9rem;  */
    /* left: 0.875rem;  */
    margin-top: .5rem;
    font-family: 'Product Sans';
    text-align: center;
    display: inline-block;
    width: 12.9375rem;
    height: 1.125rem; 
    opacity: 0;
    animation: fadeIn 6.5s forwards;
   
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.eventImage {
    position: absolute;
    top: 0rem;
    left: 0rem;
    border-radius: 1.8125rem; /* 29px / 16 */
    width: 12.9375rem; /* 207px / 16 */
    height: 8.625rem; /* 138px / 16 */
    object-fit: cover;
}

.gradientOveraly {
    position: absolute;
    top: 0rem;
    left: 0rem;
    border-radius: 1.8125rem; /* 29px / 16 */
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(48, 3, 52, 0.6) 84.27%);
    width: 12.9375rem; /* 207px / 16 */
    height: 8.625rem; /* 138px / 16 */
}

.city {
    
    max-width: 9.375rem; /* 86px / 16 */
    position: relative;
    display: inline-block;
    height: auto; /* 19px / 16 */
    flex-shrink: 0;
    text-shadow: 0.09375rem 0 0 #300334, 0 0.09375rem 0 #300334, -0.09375rem 0 0 #300334, 0 -0.09375rem 0 #300334; 
}

.calendarVectorIcon {
    width: 0.94375rem; /* 15.1px / 16 */
    position: relative;
    height: 0.95625rem; /* 15.3px / 16 */
}

.dateText {
    position: relative;
    text-shadow: 0.09375rem 0 0 #300334, 0 0.09375rem 0 #300334, -0.09375rem 0 0 #300334, 0 -0.09375rem 0 #300334; /* 1.5px / 16 */
}

.date {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.28125rem; /* 4.5px / 16 */
}

.dateAndLocation {
    position: absolute;
    bottom: .475rem; /* 86px / 16 */
    left: 1.0625rem; /* 17px / 16 */
    filter: drop-shadow(0rem 0.375rem 0.375rem rgba(0, 0, 0, 0.25)); /* 6px / 16 */
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    align-items: flex-start;
    justify-content: center;
}

.EventTypeTxt {
    position: relative;
    text-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25); /* 4px / 16 */
}

.EventType {
    border-radius: 0.375rem; /* 6px / 16 */
    background: linear-gradient(99.25deg, rgba(253, 246, 253, 0.2), rgba(128, 26, 136, 0.2)), #a76eab;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.375rem 0.75rem; /* 6px 12px / 16 */
}

.virtual1 {
    position: relative;
}

.virtual {
    border-radius: 0.375rem; /* 6px / 16 */
    background: linear-gradient(99.25deg, rgba(253, 246, 253, 0.2), rgba(128, 26, 136, 0.2)), #fefe75;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.375rem 0.75rem; /* 6px 12px / 16 */
    color: #2e373d;
}

.eventTypeTags {
    position: absolute;
    top: 0.8125rem; /* 13px / 16 */
    right: 1.0625rem; /* 17px / 16 */
    display: flex;
    flex-direction: row;
    align-items: center;
    
    width: 100%;
    justify-content: flex-end;
    gap: 1.875rem; /* 30px / 16 */
    font-size: 0.639375rem; /* 10.23px / 16 */

}

.smallEvent {
    width: 12.9375rem;
    position: relative;
    height: 8.625rem; /* 138px / 16 */
    text-align: left;
    font-size: 0.959375rem; /* 15.35px / 16 */
    color: #fff;
    font-family: 'Product Sans Black';
    opacity: 0;
    animation: fadeIn 6.5s forwards;
}