/* button {
   color:rgb(67, 70, 12)
  } */
  

.body {

 margin: 10rem 8.5rem;
 margin-right: 1.5rem;
}

.body p {
  white-space: pre-wrap;
  line-height: 1.5;
  word-break: break-word;
}


.divider {
    height: 5rem
}

.smallEventsList {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    gap: 1rem;
    min-width: 45rem;
}

.heroImage {
    max-width: 50%;
    height: auto;
    position: absolute;
    top: 10rem;
    left: 45rem;
    z-index: -10;
}

.smallEventsAll {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    gap: 1.5rem;
    min-width: 45rem;

}


.freeTicketBtn {
    color:rgb(44, 44, 44);
    border-color: rgba(191, 191, 191, 0.249);
    border-width: .125em;
    background-color: rgba(236, 236, 236, 0.641);
}

@media (prefers-color-scheme: dark) {
    .freeTicketBtn  {
        color:rgb(239, 199, 55);
        border-color: rgb(239, 199, 55);
        border-width: .1em;
        background-color: rgb(44, 44, 44);


    }
}